body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 100vh; 
    position: relative;
    overflow: hidden; 
    display: flex;
    justify-content: left; 
    align-items: left; 
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: relative; 
    left: 150rem;
}

.header-content {
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-80%, -40%); 
    text-align: left; 
    color: white; 
}

.header-content h1 {
    font-size: 70px; 
    margin-top: 10px; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header-content p {
    margin: 10px 0; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
}

.start {
    padding: 15px 35px; /* Espaciado del botón */
    background-color: #08d496;/* Color de fondo del botón */
    border: none; /* Sin borde */
    border-radius: 70px; /* Borde redondeado */
    cursor: pointer; /* Cambiar a cursor de puntero al pasar el ratón */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #0a0836;
    margin-top: 40px;
}

.start:hover {
    background-color: #0c7976; /* Cambiar el color de fondo al pasar el ratón */
}

.container-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 5px;
    margin: 80px;
   
}

.container-1 >h2 {
    font-size: 40px; 
    margin-top: 10px; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.container-1 > div {
    flex: 1 1 120px;
    text-align: center;
    font-family: cursive;
    font-size: 30px;
    margin-top: 80px;
    position: relative; 
    right: 10rem;
    gap: 10px;
}


/* Media queries para adaptar estilos en diferentes tamaños de pantalla */
@media screen and (max-width: 768px) {
    .header-content h1 {
        font-size: 8vw;
    }

    .header-content p {
        font-size: 3vw;
    }

    .start {
        padding: 3vh 6vw;
        font-size: 3vw;
        margin-top: 10vh;
    }
}

