body{
    margin: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 5px;
   
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}